@page "/treatments"
@inject IController controller
@inject IModel model

<h5>Click to search for treatments</h5>


<RadzenButton Icon="search" Text="Search" Click=@controller.SearchAllTreatmentsAsync Style="width: 160px" />

<h5 style="margin-top: 16px">Treatments</h5>

<RadzenGrid Count="@model.AllTreatmentsList.Count" Data="@model.AllTreatmentsList" TItem=TreatmentDto RowSelect="@SelectedTreatmentChanged">
    <Columns>
        <RadzenGridColumn TItem="TreatmentDto" Property="Name" Title="Name" />
        <RadzenGridColumn TItem="TreatmentDto" Property="Length" Title="Duration" />
        <RadzenGridColumn TItem="TreatmentDto" Property="Price" Title="Price" />
    </Columns>
</RadzenGrid>

<RadzenMenu>
    <RadzenMenuItem Text="View" Icon="pageview" Path="/treatments/view" />
</RadzenMenu>

@code {

    private void SelectedTreatmentChanged(TreatmentDto treatment)
    {
        model.SelectedTreatment = treatment;
    }
}