@page "/list"
@inject IController controller
@inject IModel model

<h5>Click to search pairs</h5>
<button name="searchButton" class="btn btn-secondary" @onclick="controller.SearchDoctorRoomAsync">Search</button>

<h5 style="margin: 4px 0px 4px 0px">Doctor - room pairs</h5>
<div class="col-xl-6" style="height: 240px; overflow-y: scroll;">
  @foreach( Pair pair in model.PairList )
  {
    <div class="row">
        <button class="btn btn-">@pair.Doctor.Name @pair.Doctor.Surname at room @pair.Room.Number</button>
    </div>
  }
</div>

<div class="row" style="width: 200px; justify-content: space-around">
  <button class="btn btn-light" style="width: 60px">Add</button>
  <button class="btn btn-light" style="width: 60px">View</button>
  <button class="btn btn-light" style="width: 60px">Edit</button>
</div>

<div class="col-xl-6" style="margin-top: 24px; width: 240px; justify-content: right">
  <a href="https://zsut.tele.pw.edu.pl/" target="_blank">ZSUT IT PW home page</a>
</div>

